<% content_for :title, "New vetting transcript" %>

<h1>New vetting transcript</h1>

<%= render "form", vetting_transcript: @vetting_transcript %>

<br>

<div>
  <%= link_to "Back to vetting transcripts", vetting_transcripts_path %>
</div>
