<p style="color: green"><%= notice %></p>

<% content_for :title, "Event tasks" %>

<h1>Event tasks</h1>

<div id="event_tasks">
  <% @event_tasks.each do |event_task| %>
    <%= render event_task %>
    <p>
      <%= link_to "Show this event task", event_task %>
    </p>
  <% end %>
</div>

<%= link_to "New event task", new_event_task_path %>
