<div id="<%= dom_id organization_rule %>">
  <p>
    <strong>Organization:</strong>
    <%= organization_rule.organization_id %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= organization_rule.rule_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= organization_rule.active %>
  </p>

</div>
