<p style="color: green"><%= notice %></p>

<% content_for :title, "Organization rules" %>

<h1>Organization rules</h1>

<div id="organization_rules">
  <% @organization_rules.each do |organization_rule| %>
    <%= render organization_rule %>
    <p>
      <%= link_to "Show this organization rule", organization_rule %>
    </p>
  <% end %>
</div>

<%= link_to "New organization rule", new_organization_rule_path %>
