<% content_for :title, "New organization rule" %>

<h1>New organization rule</h1>

<%= render "form", organization_rule: @organization_rule %>

<br>

<div>
  <%= link_to "Back to organization rules", organization_rules_path %>
</div>
