<div id="<%= dom_id event_slot_type %>">
  <p>
    <strong>Name:</strong>
    <%= event_slot_type.name %>
  </p>

  <p>
    <strong>Default duration:</strong>
    <%= event_slot_type.default_duration %>
  </p>

  <p>
    <strong>Default duration units:</strong>
    <%= event_slot_type.default_duration_units %>
  </p>

</div>
