<p style="color: green"><%= notice %></p>

<% content_for :title, "Event slot types" %>

<h1>Event slot types</h1>

<div id="event_slot_types">
  <% @event_slot_types.each do |event_slot_type| %>
    <%= render event_slot_type %>
    <p>
      <%= link_to "Show this event slot type", event_slot_type %>
    </p>
  <% end %>
</div>

<%= link_to "New event slot type", new_event_slot_type_path %>
