<% content_for :title, "New organization role" %>

<h1>New organization role</h1>

<%= render "form", organization_role: @organization_role %>

<br>

<div>
  <%= link_to "Back to organization roles", organization_roles_path %>
</div>
