<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= group.organization_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= group.active %>
  </p>

</div>
