<div id="<%= dom_id team_user_rule %>">
  <p>
    <strong>Team:</strong>
    <%= team_user_rule.team_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team_user_rule.user_id %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= team_user_rule.rule_id %>
  </p>

</div>
