<% content_for :title, "New team user rule" %>

<h1>New team user rule</h1>

<%= render "form", team_user_rule: @team_user_rule %>

<br>

<div>
  <%= link_to "Back to team user rules", team_user_rules_path %>
</div>
