<% content_for :title, "New event" %>

<h1>New event</h1>

<p><strong>NOTE:</strong>If you are planning a 3 hour event with a march then you should likely only have 1 musician.</p>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to "Back to events", events_path %>
</div>
