<div id="<%= dom_id team_rule %>">
  <p>
    <strong>Team:</strong>
    <%= team_rule.team_id %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= team_rule.rule_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= team_rule.active %>
  </p>

</div>
