<div id="<%= dom_id offline_promotion_location %>">
  <p>
    <strong>Name:</strong>
    <%= offline_promotion_location.name %>
  </p>

  <p>
    <strong>Contact card:</strong>
    <%= offline_promotion_location.contact_card_id %>
  </p>

</div>
