<% content_for :title, "New offline promotion location" %>

<h1>New offline promotion location</h1>

<%= render "form", offline_promotion_location: @offline_promotion_location %>

<br>

<div>
  <%= link_to "Back to offline promotion locations", offline_promotion_locations_path %>
</div>
