<p style="color: green"><%= notice %></p>

<% content_for :title, "Event slots" %>

<h1>Event slots</h1>

<div id="event_slots">
  <% @event_slots.each do |event_slot| %>
    <%= render event_slot %>
    <p>
      <%= link_to "Show this event slot", event_slot %>
    </p>
  <% end %>
</div>

<%= link_to "New event slot", new_event_slot_path %>
