<div id="<%= dom_id organization_user_rule %>">
  <p>
    <strong>Organization:</strong>
    <%= organization_user_rule.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= organization_user_rule.user_id %>
  </p>

  <p>
    <strong>Rule:</strong>
    <%= organization_user_rule.rule_id %>
  </p>

</div>
