<p style="color: green"><%= notice %></p>

<% content_for :title, "Organization user rules" %>

<h1>Organization user rules</h1>

<div id="organization_user_rules">
  <% @organization_user_rules.each do |organization_user_rule| %>
    <%= render organization_user_rule %>
    <p>
      <%= link_to "Show this organization user rule", organization_user_rule %>
    </p>
  <% end %>
</div>

<%= link_to "New organization user rule", new_organization_user_rule_path %>
