<% content_for :title, "New organization user rule" %>

<h1>New organization user rule</h1>

<%= render "form", organization_user_rule: @organization_user_rule %>

<br>

<div>
  <%= link_to "Back to organization user rules", organization_user_rules_path %>
</div>
