<p style="color: green"><%= notice %></p>

<% content_for :title, "Event props" %>

<h1>Event props</h1>

<div id="event_props">
  <% @event_props.each do |event_prop| %>
    <%= render event_prop %>
    <p>
      <%= link_to "Show this event prop", event_prop %>
    </p>
  <% end %>
</div>

<%= link_to "New event prop", new_event_prop_path %>
