<p style="color: green"><%= notice %></p>

<% content_for :title, "Speakers" %>

<h1>Speakers</h1>

<div id="speakers">
  <% @speakers.each do |speaker| %>
    <%#= render speaker %>
    <ul>
      <li><%= link_to speaker.full_name, speaker %></li>
    </ul>
  <% end %>
</div>

<%= link_to "New speaker", new_speaker_path %>
